body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    }
    .orange-color{
        color:orange;
    }
    .flexible-container{
        display:flex;
        margin-bottom: 250px;
    }
    .half-width{
        width:60%;
        padding-left: 1%;
    }
    .half-width img{
        width:80%;
    }
    .link-button{
        text-decoration: none;
        background-color: #fc4727;
        font-weight: 700;
        padding: 10px 40px;
        border-radius: 5px;

    }
    .top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
    }
    .dream-big{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    .experience-area{
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;

    }
    .experience-item{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 20px;
        border-radius: 10px;
        box-shadow: 10px 10px 40px gray;
    }
    #web-dev-experience{
        border-left: 7px solid;
        border-image: leniar-gradient(blue,cyan);
        border-image-slice: 1;
        
    }
    div#full-stack-experience {
        border: 5px 2px 2px 2px solid;
        border-left: 20px solid #f97b62;
    }
    h1.orange-color {
        text-align: center;
    }
    div#web-dev-experiences {
        padding: 20px;
    }
    .experience-area {
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
    }
.copyright h1{
    text-align: center;
    font-size: 10px;
}    
        
        
    


    